<div class="p-2 flex flex-row border-b-4 items-center" *ngFor="let agency of agencies$ | async; let i = index">
    <div class="flex flex-col flex-wrap justify-center content-center basis-1/5">
        <div class="rounded-full bg-red-400 h-8 w-8"></div>
    </div>
    <div class="flex flex-col basis-4/5">
        <a [routerLink]="['edit', i]"><span class="font-black text-lg">{{agency.agencia}}</span></a>
        <span class="font-black">{{agency.distrito}}</span>
        <span class="text-xs font-thin italic">{{agency.direccion}}</span>
    </div>
    <div class="basis-1/5">
        <mat-icon>star_border</mat-icon>
    </div>
  </div>